[submodule "42_libft"]
	path = 42_libft
	url = https://github.com/marineks/42_libft.git
[submodule "42_get_next_line"]
	path = 42_get_next_line
	url = https://github.com/marineks/42_get_next_line.git
[submodule "42_Born2beRoot"]
	path = 42_Born2beRoot
	url = https://github.com/marineks/42_Born2beRoot.git
[submodule "42_printf"]
	path = 42_printf
	url = https://github.com/marineks/42_printf.git
